---
interface Props {
  formId: string;
  height?: string;
  title?: string;
}

const { formId, height = '600', title = 'Registration form' } = Astro.props;
const src = `https://www.cognitoforms.com/f/tdXs_w0YA0KlSRyaghpLKw/${formId}`;
---

<div class="ecrs-cognito-form" style="background-color: #fff7ed; padding: 2rem 1rem;">
  <div style="max-width: 48rem; margin: 0 auto;">
    <iframe src={src} allow="payment" style="border:0;width:100%;" height={height} title={title}></iframe>
    <script is:inline src="https://www.cognitoforms.com/f/iframe.js" integrity="sha384-OO/vFg9Qn876/jFZ6D8HqpDTgMH+kfSPXc/lwgdHuTZmvoQrJ2g4m5xBAOmn9PJF" crossorigin="anonymous"></script>
  </div>
</div>
